<header class="glass-header">
  <div class="header-inner">
    <a href="/" class="logo">{{ shop.name }}</a>
    <nav>
      <a href="/collections/all">Shop</a>
      <a href="/cart">Cart</a>
    </nav>
  </div>
</header>
